@font-face {
  font-family: 'Agrandir';
  src: url('../assets/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Pangram';
  src: url('../assets/fonts/Pangram-Regular.otf') format('opentype');
  font-weight: 400;
}

/*=======================*
 *  CSS Variables
 *=======================*/

:root {
  --color-primary: #1C2070;
  --color-light: #F8F3EB;
  --color-green: green;
  --color-red: red;
  --color-blue: blue;
  --color-purple: purple;
  --color-grey: grey;
  --color-orange-a: #fb4c004f;
  --color-green-a: #00ffb84a;
  --color-theme-1: #F1C2F2;
  --color-theme-2: #C291F2;
  --color-theme-3: #564D8C;
  --color-theme-4: #57AAF2;
  --color-theme-5: #A0D9D9;

  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 24px;

  --hamburger-color-1: #FC6E51;
  --hamburger-color-2: #E9573F;
  --hamburger-color-3: #CF9E76;
  --hamburger-color-4: #B27946;
  --hamburger-color-5: #FFEAA7;
  --hamburger-color-6: #DFB28B;
  --hamburger-color-7: #FCD770;
  --hamburger-color-8: #FFC729;
}

/*=======================*
 *  General Styles
 *=======================*/

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  background-color: var(--color-green);
  font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
.title {
  margin-top: 0;
  font-size: 24px;
  font-family: 'Agrandir', sans-serif;
}

p {
  margin: 0 0 16px 0;
}

.button {
  font-size: 18px;
  color: var(--color-light);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 16px 16px 16px;
}

.button_light {
  background-color: var(--color-light);
  color: var(--color-primary);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*=======================*
 *  Uitility Classes
 *=======================*/
.background-dark {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.font-size-l {
  font-size: var(--font-size-l);
}

.font-size-m {
  font-size: var(--font-size-m);
}

.font-size-s {
  font-size: var(--font-size-s);
}

/*=======================*
 *  Element Styles
 *=======================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 48.5px;
}

.header-list {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}

.title_dark_background {
  color: var(--color-primary);
}

.title_light_background {
  color: var(--color-light);
}

.header-list div span{
  color: var(--color-purple);
  background: var(--color-grey);
  padding: 10px;
}

.hero_text {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.hero_text h1 {
  position: absolute;
  top: 0;
}

.hero_bild {
  height: 50vh;
}

.albums_container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tourdates */

.tourdates_container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.tourdate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-green);
    order: 1;
}

.tourdate_highlighted {
    background: var(--color-red);
    /* grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4; */
    order: 2;
}

/* Responsive */

@media (max-width: 768px) {
  .tourdate_highlighted {
    background: var(--color-blue);
  }

  .tourdates_container {
    grid-template-columns: 1fr 1fr;
  }
}