@font-face {
  font-family: 'Agrandir';
  src: url('../assets/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: 900;
}

/*=======================*
 *  General Styles
 *=======================*/

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  background-color: green;
  font-size: 32px;
}

h1,
h2,
h3,
h4,
h5,
.title {
  margin-top: 0;
  font-size: 24px;
  font-family: 'Agrandir', sans-serif;
}

p {
  margin: 0 0 16px 0;
}

.button {
  background-color: #1C2070;
  font-size: 18px;
  color: #F8F3EB;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 16px 16px 16px;
}

.button_light {
  background-color: #F8F3EB;
  color: #1C2070;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*=======================*
 *  Element Styles
 *=======================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1C2070;
  color: #F8F3EB;
  padding: 48.5px;
}

.header-list {
  display: flex;
  gap: 16px;
  justify-content: space-around;
}

.title_dark_background {
  color: #1C2070;
}

.title_light_background {
  color: #F8F3EB;
}

.header-list div span{
  color: purple;
  background: grey;
  padding: 10px;
}

.hero_text {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.hero_text h1 {
  position: absolute;
  top: 0;
}

.hero_bild {
  height: 50vh;
}

.albums_container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Tourdates */

.tourdates_container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.tourdate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: green;
    order: 1;
}

.tourdate_highlighted {
    background: red;
    /* grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4; */
    order: 2;
}